<%- include('./partials/header.ejs'); -%>
<div class="container">
  <br>
  <div class="center-align">
    <h1>Winners are:</h1>
    <h3 class="white-text">1st Position: Prajwal Jayaraman</h3>
    <h3 class="white-text">2nd Position: Soumya A R</h3>
  </div>
  <br>
  <div>
    <h4>Judging Criteria</h4>
    <p class="white-text">1. Players with top 2 scores in the Final proctored round hosted on MS Teams win. Players were
      shortlisted for the Final round after the completion of bonus round.</p>
    <p class="white-text">2. We ecountered some suspicious activities. Some users have multiple accounts which makes it
      very easy to cheat
      and thus have been disqualified.</p>
    <p class="white-text">3. For some users time taken to complete the bonus round were suspicious. Users with extremely
      less time values have been disqualified considering factors like : total number of words in 14 questions, total number of words in answers, average reading speed, average typing speed, searching answers on google which obviously were not direct.</p>
    <p class="white-text">4. As for others who didn't cheat we congratulate all of you and hope you had fun while
      playing the game.</p>
  </div>
  <br>
</div>