<%- include('./partials/header.ejs'); -%>
<div class="container">
  <br>
  <div class="center-align">
    <h1>Winners are:</h1>
    <h3 class="white-text">1st Position: Pranava Dhar</h3>
    <h3 class="white-text">2nd Position: Soumya A R</h3>
  </div>
  <br>
  <div>
    <h4>Judging Criteria</h4>
    <p class="white-text">1. As the bonus round was a speed round so the person who completes the game first and has the
      highest score
      wins.</p>
    <p class="white-text">2. We ecountered some suspicious activities. Some users have multiple accounts which makes it
      very easy to cheat
      and thus have been disqualified.</p>
    <p class="white-text">3. For some users time taken to complete the bonus round were suspicious. Users with time
      values such as 150-300 seconds have been disqualified as given the number of words in all the questions a player needs to
      have an average reading speed of 4-5words/second to complete in 200 seconds which is impossible considering the
      time
      consumed in typing and
      searching answers on google which obviously were not direct.</p>
    <p class="white-text">4. As for others who didn't cheat we congratulate all of you and hope you had fun while
      playing the game. It was a tough decision and it's decided that the player who finished the game first wins as it
      was stated clearly that it's a speed round.</p>
  </div>
  <br>
</div>