<%- include('./partials/header.ejs'); -%>
<div class="container">
    <h3>Congratulations!</h3>
    <h4 style="color: white;">You have solved all the questions of <%= gameTitle %>. Hop on to next game and solve all the questions to be at the top of the leaderboard.</h4>
</div>