<%- include('./partials/header.ejs'); -%>
<link rel="stylesheet" type="text/css" href="/loginregisterstyle.css">

<div class="container">
	<div class="card">
		<div class="row">
			<h4 class="regLog center-align">Login</h4>
		</div>
		<div class="card-content white">
			<form action="/auth/login" method="POST">
				<p style="color: red;"> <%= message%></p>
				<div class="inputs">
					<div class="input">
						<input placeholder="Email" name="email" type="email" required>
					</div>
					<div class="input">
						<input placeholder="Password" name="password" type="password" required>
					</div>
				</div>
				<button class="bttn" type="submit">Login</button>
				<a class="bttn" href="/auth/passReset">Forgot Password ?</a>
			</form>
		</div>
	</div>
</div>