<%- include('./partials/header.ejs'); -%>
<link rel="stylesheet" type="text/css" href="/loginregisterstyle.css">

<div class="container">
	<div class="card">
		<div class="row">
			<h4 class="regLog center-align">New Password</h4>
		</div>
		<div class="card-content white">
            <form action="/auth/newPass" method="POST">
				<p> <%= message%></p>
				<div class="inputs">
					<div class="input">
                        <input placeholder="New password" name="password" type="password" required>
                        <input hidden name="userID" value="<%= userID %>">
                        <input hidden name="resetToken" value="<%= resetToken %>">
					</div>
				</div>
				<button class="bttn" type="submit">Reset Password</button>
			</form>
		</div>
	</div>
</div>